MakeFile
Cargo_Drone.workspace
Part_1/Debug/
Part_2/Debug/
Makefie
Part_1/Part_1.mk
Part_1/Part_1.project
Part_1/Part_1.txt
Part_2/Part_2.mk
Part_2/Part_2.project
Part_2/Part_2.txt
Part_3/Debug/
Part_3/Part_3.mk
Part_3/Part_3.project
Part_3/Part_3.txt
Part_4/Debug/
Part_4/Part_4.mk
Part_4/Part_4.project
Part_4/Part_4.txt
Makefile
.codelite/
Part_5/Debug/
Part_5/Part_5.mk
Part_5/Part_5.project
Part_5/Part_5.txt


